<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Subjects | Tulong-Turo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,attach_file,book,chat_bubble,chevron_left,chevron_right,close,edit,home,logout,menu,school,send&display=block"
    />
    <link rel="stylesheet" href="/css/add.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Sidebar -->
    <%- include('partials/sidenav.ejs') %> Subjects

    <main class="add__main">
      <div class="add__title-card">
        <div>Add subjects</div>
      </div>

      <ul class="add__subjects-list">
        <% for (let i = 0; i < subjectList.length; i++) { %>
        <li class="add__subjects-list-item">
          <label class="add__subjects-list-label">
            <div class="add__subject-icon-label-wrapper">
              <!-- icon -->
              <span class="material-symbols-outlined"> book </span>

              <!-- subject title -->
              <div class="add__subject-label">
                <%= subjectList[i].title %>

                <span class="add__subject-status">
                  <%= subjectList[i].isSubscribed ? "Enrolled" : "Not Enrolled"
                  %>
                </span>
              </div>
            </div>

            <input class="add__checkbox" <%= subjectList[i].isSubscribed ?
            "checked" : "" %> type="checkbox" name="topics" value="<%=
            subjectList[i].slug %>">
          </label>
        </li>
        <% } %>
        <button class="add__update-button" onclick="submit()">Update</button>
      </ul>
    </main>

    <script>
      async function submit() {
        const allCheckboxes = document.querySelectorAll('input[name="topics"]');

        const subjects = Array.from(allCheckboxes).map((checkbox) => ({
          slug: checkbox.value,
          isSubscribed: checkbox.checked,
        }));

        try {
          const res = await fetch("/api/subjects", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ subjects }),
          });

          const result = await res.json();

          if (res.ok) {
            window.location.href = "/";
          } else {
            alert(result.message || "Update subjects failed.");
          }
        } catch (err) {
          console.error("Subject selection error:", err);
          alert("An unexpected error occurred.");
        }
      }
    </script>
  </body>
</html>
