<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Subjects | Tulong-Turo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,attach_file,chat_bubble,chevron_left,chevron_right,close,home,menu,school,send&display=block"
    />
    <link rel="stylesheet" href="/css/add.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Sidebar -->
    <%- include('partials/sidenav.ejs') %> Subjects

    <main class="add__main">
      <h2 class="add__title">Add subjects</h2>
      <ul class="add__subjects-list">
        <% for (let i = 0; i < subjects.length; i++) { %>
        <li class="add__subjects-list-item">
          <label class="add__subject-label"> <%= subjects[i].title %></label>

          <div class="add__subject-status-wrapper">
            <!-- Change this later: status must be dynamically updated -->
            <span class="add__subject-status">Enrolled</span>

            <input <%= subjects[i].isSubscribed ? "checked" : "" %>
            type="checkbox" name="topics" value="<%= subjects[i].slug %>">
          </div>
        </li>
        <% } %>
        <button class="add__update-button" onclick="submit()">Update</button>
      </ul>
    </main>

    <script>
      async function submit() {
        const allCheckboxes = document.querySelectorAll('input[name="topics"]');

        const subjects = Array.from(allCheckboxes).map((checkbox) => ({
          slug: checkbox.value,
          isSubscribed: checkbox.checked,
        }));

        try {
          const res = await fetch("/api/subjects", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ subjects }),
          });

          const result = await res.json();

          if (res.ok) {
            window.location.href = "/";
          } else {
            alert(result.message || "Update subjects failed.");
          }
        } catch (err) {
          console.error("Subject selection error:", err);
          alert("An unexpected error occurred.");
        }
      }
    </script>
  </body>
</html>
