<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home | Tulong-Turo</title>

		<!-- Icons -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@1&ROND@100&icon_names=add,chevron_right,close,home,menu&display=block" />

		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<!-- Welcome <%= user.firstName %> -->
		<!-- Header -->
		<header>
			<nav class="header-nav">
				<div class="menu-and-logo-wrapper">
					<!-- hamburger icon -->
					<button class="menu-button">
						<span class="material-symbols-outlined"> menu </span>
					</button>

					<!-- Logo -->
					<h1>
						<a href="/"> Tulong Turo </a>
					</h1>
				</div>

				<!-- Add subj button -->
				<div class="add-and-acc-wrapper">
					<button class="add-subject-button">
						Add subjects
						<span class="material-symbols-outlined"> add </span>
					</button>

					<!-- acc icon -->
					<div class="account-wrapper"> </div>
				</div>
			</nav>
		</header>

		<!-- Sidebar -->
		<aside class="">
			<nav class="sidebar-nav">
				<h2>Subjects</h2>

				<ul class="sidebar-subjects-list" role="list">
					<% for (let i = 0; i < subjects.length; i++) { %>
					<li class="sidebar-subject-item"
						><a href="/lessons/<%- subjects[i].slug %>"
							><%- subjects[i].title %></a
						></li
					>
					<% } %>
				</ul>
			</nav>
		</aside>

		<!-- Main -->
		<main class="homepage-main">
			<!-- make greeting dynamic based on time and username -->
			<h2 class="greeting">Good morning, Timothy</h2>

			<!-- Subjects grid (make this grid dynamic for subjects) -->
			<div class="subjects-grid">
				<% for (let i = 0; i < subjects.length; i++) { %>
				<a class="sub" href="/lessons/<%- subjects[i].slug %>"
					><%- subjects[i].title %></a
				>
				<% } %>
			</div>
		</main>
	</body>
</html>
