<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= lesson.title %> | Tulong-Turo</title>

  <link rel="stylesheet" href="/css/lesson.css">
</head>
<body>
  <div>
    <div>Lesson Title: <%= lesson.title %> </div>
    <div>Author: <%= lesson.users.first_name %> <%= lesson.users.last_name %></div>
    <div>Lesson Content</div>
    <div>
      <!-- matik nicoconvert nung nasa ilalim yung markdown text to html content for rendering
      -->
      <%- content %> 
    </div>
  </div>
</body>
</html>